body {
	margin: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 300;
}

img {
	width: 260px;
	border-radius: 50%;
	border: solid white 10px;
}

/* typography */

h1,
h2 {
	font-weight: 300;
	margin-top: 0;
}

h1 span {
	font-weight: 700;
	line-height: 100%;
	display: block;
	margin-bottom: 40px;
}

h2 span {
	font-weight: 900;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 42px;
	/* border-top: solid 1px #c4c4c4;
	border-bottom: solid 1px #c4c4c4; */
	padding: 25px 0;
}

h1 span {
	font-size: 80px;
}

h2 span {
	font-size: 60px;
}

h3 {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

.accent-text,
.articles .name,
.articles time {
	color: #99d930;
}

.small-text {
	font-size: 16px;
	margin-top: 2px;
}

/* layout */

header {
	background: #d7d7d7;
	margin-top: 40px;
}

header,
section {
	padding: 60px 0;
}

.container {
	min-width: 320px;
	margin: 0 auto;
}

.inverse {
	color: #fff;
	background: #252525;
}

/* links */

a {
	color: #99d930;
	font-weight: 900;
}

a:hover,
a:focus {
	color: #131313;
}

.my-btn {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 12px;
	background: #99d930;
	color: #252525;
	text-decoration: none;
	padding: 6px 30px;
}

.my-btn:hover,
.my-btn:focus {
	background: #fff;
}
