body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    -webkit-user-select: none;
    user-select: none;
}

.center-text {
    text-align: center;
}

p em {
    font-size: 0.8em;
}

.img-avatar {
    margin-top: 30px;
    width: 260px;
    border-radius: 50%;
    border: solid white 6px;
}

.img-react-logo {
    width: 48px;
    color: white;
    margin-top: 2px;
    margin-bottom: -2px;
}

#navmenu {
    text-align: right;
}

.select-language-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.select-language-list li {
    margin: 0 10px;
    padding-bottom: 5px;
    border-bottom: #55565b solid 3px;
}

.select-language-list li:hover {
    border-color: white;
    cursor: pointer;
}

.select-language-list li.selected {
    border-color: white;
}

img.flag {
    height: 1em;
    width: 1.5em;
}

.select-ok {
    -webkit-user-select: text;
    user-select: text;
}

/* typography */

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 1.7em;
}

h1 span {
    font-size: 5rem; /* 80px */
    font-weight: 700;
    display: block;
    margin-bottom: 0.25em; /* 20px */
}

h2 {
    font-size: 2.63rem; /*  42px; */
    padding: 0.6em 0; /* 25px */
    line-height: 1.7em;
    margin-top: 0px;
}

h2 span {
    font-size: 3.75rem; /* 60px */
    font-weight: 900;
    margin-top: 1em; /* 60px */
}

h3 {
    font-size: 2.25rem; /* 36px; */
    font-weight: 900;
    margin-bottom: 14px;
}

h4 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 5px;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7em;
}

.p-zero-bottom {
    margin-bottom: 0;
}

.x-margin-top {
    margin-top: 30px;
}

.boxes {
    margin-bottom: 30px;
}

.accent-text,
.articles .name,
.articles time {
    color: #99d930;
}

.small-text {
    font-size: 16px;
    margin-top: 2px;
}

/* layout */

header {
    background: #d7d7d7;
    margin-top: 60px;
}

header,
section {
    padding: 60px 0;
}

.container {
    margin: 0 auto;
}

.container-img {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-narrow {
    margin: 0 70px;
}

.inverse {
    color: #fff;
    background: #252525;
}

/* links */

a {
    color: #99d930;
}

.up-link:hover,
.up-link:focus {
    color: white;
}

.my-btn {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 12px;
    background: #99d930;
    color: #252525;
    font-weight: 900;
    text-decoration: none;
    padding: 6px 30px;
}

.my-btn-code {
    margin-left: 20px;
    background: white;
    border: solid 3px #252525;
    padding: 4px 28px;
}

.my-btn:hover,
.my-btn:focus {
    background: #252525;
    color: #fff;
}

.bg-dark .my-btn:hover,
.bg-dark .my-btn:focus,
.bg-secondary .my-btn:hover,
.bg-secondary .my-btn:focus {
    background: #fff;
    color: #252525;
}

.skills {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.inverse .skills {
    justify-content: center;
}

.skills__skill {
    padding: 0.6rem 1.6rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(153, 153, 153, 0.2);
    color: #252525;
}

.inverse .skills__skill {
    color: white;
}

/* Month and Year font in assignment header */
h3 span {
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
}

/* Space between assignments */
.assignment-margin-bottom {
    margin-bottom: 4rem;
}

.assignment-col-width {
    max-width: 700px;
}

.img-max {
    max-width: 100%;
    max-height: 300px;
}

.img-medium {
    width: 80%;
    height: auto;
    min-width: 100px;
}

.img-reduced-size {
    max-width: 250px;
    max-height: 200px;
}

.img-border {
    border: solid lightgray 2px;
}

.project-details-img {
    width: 100%;
}

.project-details-img-reduced {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.asterisk {
    text-align: right;
    font-size: 0.8em;
}

footer p {
    font-size: 1rem;
}

.socials {
    text-align: center;
    display: flex;
    justify-content: center;
}

.social {
    width: 60px;
    margin: 3em 1em;
}

.social-icon-normal {
    width: 80%;
}

.social-icon-reduced {
    width: 80%;
    padding-top: 2px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem; /* 40px */
        line-height: 1.3em;
        margin-top: 1em;
    }

    h1 span {
        font-size: 3rem; /* 48px */
    }

    h2 {
        font-size: 2rem; /*  32px; */
        line-height: 1.3em;
    }

    h2 span {
        font-size: 2.5rem; /* 40px */
    }

    h3 {
        font-size: 1.75rem; /* 28px; */
    }

    .my-btn-code {
        margin-left: 0;
    }

    .social {
        margin: 0.3em;
    }
}
