body::before {
	display: block;
	content: '';
	height: 60px;
}

.img-max {
	max-width: 100%;
	max-height: 300px;
}

.img-medium {
	width: 80%;
	height: auto;
	min-width: 100px;
}

.img-reduced-size {
	max-width: 250px;
	max-height: 200px;
}

.text-warning {
	color: #99d930;
}

.carousel-slide {
	max-width: 2400px;
	min-width: 300px;
	max-height: 200px;
	overflow: hidden;
}

.carousel-inner {
	width: 2400px;
	left: 50%;
	margin-left: -1200px;
}

/* Month and Year font in assignment header */
h4 span {
	font-size: 20px;
	font-weight: lighter;
	margin-left: 4px;
}

/* Space between assignments */
.assignment-margin-bottom {
	margin-bottom: 4rem;
}

.assignment-col-width {
	max-width: 700px;
}

#map {
	width: 100%;
	height: 100%;
	min-width: 250px;
	min-height: 250px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.news-input {
		width: 50%;
	}
}
